{% extends 'perm_manager/base.html' %}

{% import 'macros/form.html' as form %}

{% block breadcrumb_label %}
    {{ _("Permissions manager") }}
{% endblock breadcrumb_label %}

{% block primary_content_inner %}
    {% set registered_roles = h.get_registered_roles() %}

    <div class="d-flex gap-3 align-items-center mb-3">
        <div class="flex-grow-1">
            {% call form.input(
                'search_permissions',
                id='search-permissions',
                label=_('Search Permissions'),
                placeholder=_('Type to search...'),
                classes=[],
                attrs={'data-module': 'perm-search-permissions', 'class': 'form-control', 'data-module-target-table': 'permissions-table'},
            ) %}
            {% endcall %}
        </div>
        <div>
            <button type="button" id="clear-search" class="btn btn-danger" disabled>
                {{ _('Clear') }}
            </button>
        </div>
    </div>

    <form action="" method="POST">
        {{ h.csrf_input() }}

        <div class="table-responsive">
            <table class="table" id="permissions-table" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>{{ _("Permission") }}</th>

                        {% for role_name, role_label in registered_roles.items() %}
                            <th>{{ role_label }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for perm_group in permission_groups %}
                    <tr>
                        <td>
                            <b>{{ perm_group.name }}</b>
                        </td>
                        <td colspan="{{ registered_roles | length }}">
                            <i>{{ perm_group.description }}</i>
                        </td>
                    </tr>


                        {% for permission in perm_group.permissions %}
                            <tr>
                                <td class="ps-4">
                                    <p class="m-0">{{ permission.label }}</p>

                                    {% if permission.description %}
                                        <p class="m-0 mt-2"><i>{{ permission.description }}</i></p>
                                    {% endif %}
                                </td>

                                {% for role_id in registered_roles %}
                                    {% set key = h.permission_munge_string(permission.key) %}

                                    <td>
                                        <div class="checkbox-wrapper">
                                            <input type='hidden' value='unset' name='{{ permission.key }}|{{ role_id }}'>
                                            <input type="checkbox" id="{{ role_id }}-{{ key }}" name="{{ permission.key }}|{{ role_id }}" value="set" {{ 'checked' if h.get_role_permissions(role_id, permission.key) }}/>
                                            <label for="{{ role_id }}-{{ key }}" class="toggle">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
        </div>
    </form>
{% endblock %}
